@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This code demonstrates the process of setting up CKEditor, storing HTML content in a database, and retrieving HTML content from the database.</p>
    <a href="Home/editor">Go to editor page</a>
</div>
